/*                KEY POSITIONS

  ╭────────────────────────╮ ╭────────────────────────╮
  │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
  ╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
              ╰────────────╯ ╰────────────╯            */

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM) \
        combo_##NAME { \
            timeout-ms = <TERM>; \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <LAYERS>; \
        };

/ {
    combos {
        compatible = "zmk,combos";
COMBO(esc,   &kp ESC,     15 16, DEF CLM, 40)
COMBO(exit_mouse,   &to DEF,     15 16, MOU, 40)
COMBO(alt_bspc,   &kp LA(BSPC), 19 20, DEF, 40)
COMBO(ctrl_bspc,   &kp LC(BSPC),   19 20, CLM, 40)
COMBO(lpar,   &kp LPAR,     16 17, DEF CLM, 40)
COMBO(rpar,   &kp RPAR,     18 19, DEF CLM, 40)
COMBO(lbkt,   &kp LBKT,     3 4, DEF CLM, 40)
COMBO(rbkt,   &kp RBKT,     7 8, DEF CLM, 40)
COMBO(lbrc,   &kp LBRC,     28 29, DEF CLM, 40)
COMBO(rbrc,   &kp RBRC,     30 31, DEF CLM, 40)
COMBO(bslh,   &kp BSLH,     3 16, DEF CLM, 40)
COMBO(slsh,   &kp SLASH,    19 8, DEF CLM, 40)
COMBO(capswd, &caps_word,   16 19, DEF CLM, 60)

    };
};
