  /*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#define NUMBER 1
#define SYMBOL 2
#define NAVIGATION 3

#define DV_UNDER UNDER
#define DV_MINUS MINUS
#define DV_PLUS PLUS
#define DV_EQUAL EQUAL
#define DV_LBKT LBKT
#define DV_LBRC LBRC
#define DV_RBKT RBKT
#define DV_RBRC RBRC
#define DV_DQT DQT
#define DV_SQT SQT
#define DV_COLON COLON
#define DV_SEMI SEMI
#define DV_COMMA COMMA
#define DV_DOT DOT
#define DV_LT LT
#define DV_GT GT
#define DV_QMARK QMARK
#define DV_SLASH SLASH

#define MY_Q SQT
#define MY_W COMMA
#define MY_E DOT
#define MY_R P
#define MY_T Y
#define MY_Y F
#define MY_U G
#define MY_I C
#define MY_O R
#define MY_P L
#define MY_A A
#define MY_S O
#define MY_D E
#define MY_F U
#define MY_G I
#define MY_H D
#define MY_J H
#define MY_K T
#define MY_L N
#define MY_SEMI S
#define MY_Z SEMI
#define MY_X Q
#define MY_C J
#define MY_V K
#define MY_B X
#define MY_N B
#define MY_M M
#define MY_COMMA W
#define MY_DOT V
#define MY_FSLH Z
#define MEH LC(LA(LGUI))

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
        behaviors {
            td_sd: space_dance {
                compatible = "zmk,behavior-tap-dance";
                label = "TAP_DANCE_MOD_TAP";
                #binding-cells = <0>;
                tapping-term-ms = <200>;
                bindings = <&kp SPACE>, <&sl SYMBOL>;
            };
            hm_left: homerow_mods_left {
                compatible = "zmk,behavior-hold-tap";
                label = "HOMEROW_MODS_LEFT";
                #binding-cells = <2>;
                tapping-term-ms = <150>;
                quick-tap-ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
              };
            hm_right: homerow_mods_right {
                compatible = "zmk,behavior-hold-tap";
                label = "HOMEROW_MODS_RIGHT";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                quick-tap-ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
                hold-trigger-key-positions = <1 2 3 4 5 13 14 15 16 17 25 26 27 28 29>;
              };
            hm_shift: homerow_mods_shift {
                compatible = "zmk,behavior-hold-tap";
                label = "HOMEROW_MODS_SHIFT";
                #binding-cells = <2>;
                tapping-term-ms = <180>;
                quick-tap-ms = <0>;
                flavor = "balanced";
                bindings = <&kp>, <&kp>;
              };
            bspc_del: backspace_delete {
                  compatible = "zmk,behavior-mod-morph";
                  label = "BACKSPACE_DELETE";
                  #binding-cells = <0>;
                  bindings = <&kp BACKSPACE>, <&kp DELETE>;
                  mods = <(MOD_LSFT|MOD_RSFT)>;
                  keep-mods = <(MOD_RSFT)>;
              };
          };
          combos {
              compatible = "zmk,combos";
              combos_underscore {
                timeout-ms = <40>;
                key-positions = <7 19>;
                bindings = <&kp UNDER>;
                layers = <0>;
                };
              combos_at {
                timeout-ms = <40>;
                key-positions = <18 30>;
                bindings = <&kp AT>;
                layers = <0>;
                };
              combos_bsps_word {
                timeout-ms = <40>;
                key-positions = <19 20>;
                bindings = <&kp LA(BSPC)>;
                layers = <0>;
                };
              combos_bsps {
                timeout-ms = <40>;
                key-positions = <19 20 21>;
                bindings = <&kp BSPC>;
                layers = <0>;
                };
              combos_bt_clr {
                timeout-ms = <40>;
                key-positions = <19 20 21>;
                bindings = <&bt BT_CLR>;
                layers = <NAVIGATION>;
                };

              combos_caps {
                timeout-ms = <50>;
                key-positions = <15 16 19 20>;
                bindings = <&caps_word>;
              };
              combos_esc {
                timeout-ms = <40>;
                key-positions = <15 16>;
                bindings = <&kp ESC>;
              };
              combos_tab {
                timeout-ms = <50>;
                key-positions = <2 3 4>;
                bindings = <&kp TAB>;
              };
              combos_rpar {
                timeout-ms = <50>;
                key-positions = <7 8>;
                bindings = <&kp RPAR>;
                layers = <SYMBOL>;
              };
              combos_rbkt {
                timeout-ms = <50>;
                key-positions = <19 20>;
                bindings = <&kp DV_RBKT>;
                layers = <SYMBOL>;
              };
              combos_rbrc {
                timeout-ms = <50>;
                key-positions = <31 32>;
                bindings = <&kp DV_RBRC>;
                layers = <SYMBOL>;
              };
            };
            macros {
              entry_macro: entry_macro {
                  compatible = "zmk,behavior-macro";
                  label = "ZM_my_macro";
                  #binding-cells = <0>;
                  wait-ms = <30>;
                  tap-ms = <30>;
                  bindings =  <&macro_press &kp LSHIFT>,
                              <&macro_tap &kp Z>,
                              <&macro_release &kp LSHIFT>,
                              <&macro_tap &kp X &kp T &kp P &kp T &kp R &kp AT_SIGN &kp N3 &kp N7 &kp N2 &kp N8 &kp ENTER>;
              };
            };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
//@only@format(6,6,6,6,6,6,3,3)@lines(4)
&kp TILDE           &kp MY_Q &kp MY_W &kp MY_E           &kp MY_R &kp MY_T                &kp MY_Y   &kp MY_U       &kp MY_I     &kp MY_O   &kp MY_P    &kp TAB
&hm_left LCTRL HOME &kp MY_A &kp MY_S &kp MY_D           &kp MY_F &kp MY_G                &kp MY_H   &kp MY_J       &kp MY_K     &kp MY_L   &kp MY_SEMI &kp ENTER
&hm_left LGUI END   &kp MY_Z &kp MY_X &kp MY_C           &kp MY_V &kp MY_B                &kp MY_N   &kp MY_M       &kp MY_COMMA &kp MY_DOT &kp MY_FSLH &kp LALT
                                      &kp LG(LC(LSHIFT)) &kp MEH  &lt SYMBOL SPACE        &kp LSHIFT &mt NAVIGATION &trans
                        >;
                };
                lower_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
//@format(6,6,6,6,6,6,3,3)@lines(4)
&trans &kp F9 &kp F10 &kp F11 &kp F12 &trans            &trans &kp N7 &kp N8 &kp N9 &trans &trans
&trans &kp F5 &kp F6  &kp F7  &kp F8  &sk LSHIFT        &trans &kp N4 &kp N5 &kp N6 &kp N0 &none
&trans &kp F1 &kp F2  &kp F3  &kp F4  &trans            &trans &kp N1 &kp N2 &kp N3 &trans &trans
                      &trans  &trans  &trans            &trans &trans &trans
                        >;
                };

                raise_layer {
                        label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  (  |  &  |  *  |  \  |      |
// | CTRL |     |     |     |  ?  |     |   |  -  |  [  |  =  |  /  |  ~  |      |
// | SHFT |     |     |     |  entry_macro|||  _  |  {  |  +  | "|" |  `  |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
// &trans &kp EXCL &kp AT &kp HASH &kp DLLR     &kp PRCNT        &kp CARET    &kp LPAR    &kp AMPS     &kp KP_MULTIPLY &kp BSLH  &trans
//@format(6,6,6,6,6,6,3,3)@lines(4)
&trans &kp N1 &kp N2 &kp N3 &kp N4       &kp N5        &kp N6       &kp N7      &kp N8       &kp N9       &kp N0    &trans
&trans &trans &trans &trans &kp DV_QMARK &trans        &kp DV_MINUS &kp DV_LBKT &kp DV_EQUAL &kp DV_SLASH &kp GRAVE &trans
&trans &trans &trans &trans &entry_macro &trans        &kp DV_UNDER &kp DV_LBRC &kp DV_PLUS  &kp PIPE     &kp TILDE &trans
                     &trans &trans       &trans        &trans       &trans      &trans

                        >;
                };

                navigation_layer {
                        label = "ARROWS";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
//@format(6,6,6,6,6,6,3,3)@lines(4)
&out OUT_TOG &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4        &trans   &kp HOME      &kp END     &kp N3    &trans &trans
&trans       &trans       &trans       &trans       &trans       &trans              &kp LEFT &kp DOWN      &kp UP      &kp RIGHT &trans &trans
&trans       &kp LSHIFT   &kp LCTRL    &kp LALT     &kp LGUI     &trans              &trans   &kp PAGE_DOWN &kp PAGE_UP &kp N3    &trans &trans
                                       &trans       &trans       &trans              &trans   &trans        &trans

                        >;
                };
        };
    };
